* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@import 'variable/variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'animate';

@import 'layout/header';
@import 'layout/main';

@import 'page/home';
@import 'page/login';
@import 'page/register';
@import 'page/inbox';
@import 'page/networkIndex';


a.clear-text-decoration {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: $primary
  }
}
