#root > div > div.navHeader {
  background:	#D3D3D3;
}

#responsive-navbar-nav\20 entireNavbarHeader {
  div {
    div {
      a{
        color: $color-alpha-dark;
        margin-left: 10px;
      }
    }
  }
}

#root > div > div:nth-child(1) > nav > span > a {
  color: $color-beta;
  margin-left: 10px;
}
