#root {
	height: 100vh;
}

// .container {
// 	height: calc(95% - 56px);
// }

.container-min-height {
  min-height: calc(100vh - 56px - 56px);
}

.container--height {
  min-height: calc(100vh - 56px - 56px);
}

.active {
	color: $success;
	// background: rgba(65,157,120, 0.4)
}
