#root {
	height: 100vh;
}

.mainPage {
		min-height: calc(100vh - 120px);
		  // background:	#E8E8E8;
	}

// .container {
// 	height: calc(95% - 56px);
// }

.active {
	color: $success;
	// background: rgba(65,157,120, 0.4)
}
