* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.messages{
  display: flex;
  .messageSidebar{
    width: 30%;
  }
  .message{
    border: 1px solid black;
    width: 70%;
    height: 400px;
  }
}
