.mainHomePage{
  display: flex;
  height: calc(95% - 56px);
  width: 100%;
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    width: 15%;
    height: 100%;
    div {
      display: flex;
      justify-content: center;
      .switchButton{
        margin-top: 2em;
        width: 50%;
      }
    }

    .sideProfile {
      height: 50%;
      width: 100%;
      border: 1px solid black;
    }
  }

  .postform {
    display: flex;
    width: 85%;
    height: 100%;
    .sectionOne {
      width: 70%;
      height: 100%;
      .searchBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 4px 6px 6px rgba(0,0,0,0.26);
        text-transform: uppercase;
        margin: 5px;
        input {
          width: 50%;
        }
      }
      .jobPostWrapperOverFlow{
        height: calc(100% - 72px);
        overflow-y: scroll;
        .jobPostWrapper {
          padding: 1em;
          margin: 1em;
          border: 1px solid black;
          box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.45);
          .showPage {
            width: 100%;
            height: 100%;
            img {
              height: 30%;
              width: 50%;
            }
            .industriesList{
              display: flex;
              flex-wrap: wrap;
              .industries{
                background: rgba(62, 80, 91, 0.3);
                // border: 1px solid $color-alpha;
                // box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
                margin: 10px 10px 0 0 ;
                border-radius: 2px;
              }
            }

            .buttonsAndUser {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      }

    .sectionTwo {
      width: 30%;
      height: 100%;
      background-color: rgba(255, 252, 242, 0.4);
      border-radius: 10px 10px 10px 10px;
      padding: 2em;
      display: flex;
      flex-direction: column;
      text-align: center;
      small {
        color: $color-alpha;
        margin-bottom: 1em;
      }
      div {
        a {
          color: $color-alpha;
        }
      }
    }
  }
}

.buttonColor {
  background-color: $color-beta-light;
  border-color: $color-omega;
}
// #root > div > main > div.postform > div.sectionOne
